
@{
    ViewData["Title"] = "Index";
}
<h2>Student Name :@ViewBag.Student.StudentName</h2>
<h2>Student Email :@ViewBag.Student.Email</h2>
<h2>Student Registration No :@ViewBag.Student.RegNo</h2>
<h2>Student Address :@ViewBag.Student.Address</h2>
<h2>Student Department Name :@ViewBag.Student.Department</h2>
@*@for(int i=1;i<=10;i++)
{
    <h1>Student Information</h1>
}*@


